div.animation {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first {
  stroke-dasharray: 459px;
  stroke-dashoffset: 459px;
  -webkit-animation: fadeInside 0.6s ease-in forwards;
          animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 418px;
  stroke-dashoffset: 418px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.3s;
          animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 239px;
  stroke-dashoffset: 239px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.6s;
          animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 404px;
  stroke-dashoffset: 404px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.9s;
          animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.2s;
          animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 413px;
  stroke-dashoffset: 413px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.5s;
          animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 371px;
  stroke-dashoffset: 371px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.8s;
          animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.3s;
          animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#ninth {
  stroke-dasharray: 483px;
  stroke-dashoffset: 483px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.6s;
          animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#tenth {
  stroke-dasharray: 506px;
  stroke-dashoffset: 506px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.9s;
          animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#eleventh {
  stroke-dasharray: 483px;
  stroke-dashoffset: 483px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.2s;
          animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#twelfth {
  stroke-dasharray: 309px;
  stroke-dashoffset: 309px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.5s;
          animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#thirteenth {
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.8s;
          animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#fourteenth {
  stroke-dasharray: 819px;
  stroke-dashoffset: 819px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.6s;
          animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fifteenth {
  stroke-dasharray: 1570px;
  stroke-dashoffset: 1570px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.2s;
          animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixteenth {
  stroke-dasharray: 1172px;
  stroke-dashoffset: 1172px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.8s;
          animation: fadeInside 0.6s ease-in forwards 1.8s;
}

svg {
  -webkit-animation: fill 1s ease-in forwards 1.8s;
          animation: fill 1s ease-in forwards 1.8s;
}

@-webkit-keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
/*# sourceMappingURL=animation.css.map */